<section class="featured-blog">
    <div class="container">
        <div class="row">
         <h2 class="title">Latest Articles</h2>
        <div class="col-md-4">
            <div class="blogbox">
             <img src="https://images.pexels.com/photos/868097/pexels-photo-868097.jpeg?auto=compress&cs=tinysrgb&w=400" alt="">
             <div class="text-overlay">"The mountains are calling, and I must go." </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="blogbox">
             <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=400" alt="" height="">
             <div  class="text-overlay">"Where the earth meets the sky."</div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="blogbox">
             <img src="https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&w=400" alt="">
             <div  class="text-overlay">"To touch the sky and feel alive."</div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="blogbox">
             <img src="https://images.pexels.com/photos/3022417/pexels-photo-3022417.jpeg?auto=compress&cs=tinysrgb&w=400" alt="">
             <div  class="text-overlay">"The summit is just a halfway point." </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="blogbox">
             <img src="https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&w=400" alt="">
             <div  class="text-overlay">"Mountains teach that not everything in this world can be rationally explained." </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="blogbox">
             <img src="https://images.pexels.com/photos/1387001/pexels-photo-1387001.jpeg?auto=compress&cs=tinysrgb&w=400" alt="">
             <div  class="text-overlay">"Find joy in the journey."</div>
            </div>
        </div>


        
    </div>
    </div>

</section>