<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#" >Alpine Mountains</a></li>
       <li><a href="#">Volcanic Mountains</a></li>
       <li><a href="#">Fold Mountains</a></li>
       <li><a href="#">Plateau Mountains</a></li>
       <li><a href="#">Fault-Block Mountains</a></li>
       <li><a href="#">Dome Mountains</a></li>
       <li><a href="#"> Residual Mountains</a></li>
       <li><a href="#">Horst and Graben Mountains</a></li>

   </ul>
  </div>
