<section class="banner">
    <div class="banner-box">
    <div class="intro-text">
     <h1>Conquer New Heights</h1>
     <p>"Challenge yourself to conquer new heights and experience the thrill of mountain trekking like never before."</p>
     <div class="button-container">
        <a href="/login" class="btn btn-primary">Explore Now</a>
        <a href="/contact-us" class="btn btn-secondary">Contact Us</a>
    </div>
    </div>
    
    <img src="https://images.pexels.com/photos/1021808/pexels-photo-1021808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="650px" alt="">

    </div>
</section>