.blog-box {
    text-align: center; 
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 2px 2px 1px #f6f6f6;
}
.blog-box h3 { 
    margin:20px 0; 
    font-size:22px; 
    color:#000;
}
.blog-box p { 
    color:#666;
 }
.blog-box span, .posted-on span { 
    font-style: italic; 
    color:#000; 
}
.blog-box img { 
    width:100%; 
}
.mtb-40 { 
    margin:40px 0; 
    min-height:450px;
}
 
.blog-list .blog-box{
    text-align: left;
}
.blog-list .blog-box h3 {
    margin: 5px 0;
    font-size: 22px;
    color: #000;
}
.blog-list .blog-box p{
    margin-bottom: 5px;
}
.blog-list .blog-box .readmore{
    color:blue;
}
