<section class="blog-list mtb-40">
    <div class="container">
      <h1>Article List</h1>
      <div class="row">
          <div class="col-md-8">
            <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                    <div class="col-md-4">
                  <img src="https://images.pexels.com/photos/463734/pexels-photo-463734.jpeg?auto=compress&cs=tinysrgb&w=400" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>by <span>adiitiiee</span></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nam tenetur, officiis beatae in excepturi est temporibus architecto vitae voluptas enim eaque aut vero quis, ex facere nobis tempora totam!</p>
                    <a href="/article/1" class="readmore" style="text-decoration: none;">Read more...</a></div> </div>
            </div>
              </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?auto=compress&cs=tinysrgb&w=400" alt="blog1">
                </div>
                <div class="col-md-8">
                  <h3> amet consectetur adipisicing</h3>
                  <p>by <span>adiitiiee</span></p>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed sapiente odit laborum! Optio sunt, impedit, necessitatibus dolor doloribus hic, provident voluptas repellat nostrum quas reprehenderit minus repudiandae. Neque, recusandae cupiditate.</p>
                  <a href="/article/2" class="readmore"style="text-decoration: none;">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="https://images.pexels.com/photos/1324803/pexels-photo-1324803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>Asperiores corporis ex</h3>
            <p>by <span>adiitiiee</span></p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, pariatur dolorem. Asperiores corporis ex, culpa iste veniam libero quibusdam numquam nisi corrupti possimus est, facilis provident voluptas rem quo earum.</p>
            <a href="/article/3" class="readmore"style="text-decoration: none;">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="https://images.pexels.com/photos/1287089/pexels-photo-1287089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>inventore laborum voluptates </h3>
                    <p>by <span>adiitiiee</span></p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, repellendus dolor. Repudiandae nam quos dolorem quae inventore laborum voluptates quisquam quis, sint similique ut sapiente? Nobis minus aut suscipit debitis!</p>
                    <a href="/article/4" class="readmore"style="text-decoration: none;">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="https://images.pexels.com/photos/1428787/pexels-photo-1428787.jpeg?auto=compress&cs=tinysrgb&w=400" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3> dolorum pariatur vitae amet </h3>
            <p>by <span>adiitiiee</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil similique, soluta perspiciatis id itaque ducimus veritatis recusandae iure, at fuga animi velit earum nesciunt dolorum pariatur vitae amet incidunt nostrum.</p>
            <a href="/article/5" class="readmore"style="text-decoration: none;">Read more...</a></div> </div>
                </div>
                  </div>
              <div class="col-md-12">
                <div class="blog-box">
                    <div class="row">
                        <div class="col-md-4">
                  <img src="https://images.pexels.com/photos/1034887/pexels-photo-1034887.jpeg?auto=compress&cs=tinysrgb&w=400" alt="blog1">
                </div>
                <div class="col-md-8">
                    <h3>repellendus aperiam commodi non</h3>
                    <p>by <span>adiitiiee</span></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, at earum repellendus possimus minima a voluptatem, et provident dicta mollitia vel. Nostrum repellendus aperiam commodi non, voluptates facilis consectetur earum.</p>
                    <a href="/article/6" class="readmore" style="text-decoration: none;">Read more...</a></div> </div>
                </div>
                  </div>
          </div>
          <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
            
        </div>
       
      </div>
    </div>
  </section>
